@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-wild-black text-wild-white font-sans overflow-x-hidden;
  }

  /* The "Brutal" Header Style */
  h1, h2, h3, h4, h5, h6 {
    @apply font-beast uppercase tracking-tight;
  }
}